.form-container8 {
  width: 475%;
  /* max-width: 600px; */
  height: 100vh;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(173, 205, 233);
  border-radius: 5px;
  /* padding: 10px; */
  color: black;
}

h2:hover {
  background-color: rgb(147, 187, 223);
}

.form-group8 {
  margin-bottom: 20px;
}

.upload-images8 {
  margin-bottom: 20px;
}
.upload-label8 {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.upload-placeholder8 {
  color: #aaa;
}
.upload-box8 {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* margin: 0 auto;  */
}

.upload-preview8 {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.submit-button8 {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.submit-button8:hover {
  background-color: #5a52e5;
}
