.slider-form-container {
    width: 350%;
    /* max-width: 600px; */
    margin-top: 50px;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    color: black;
    

  }
  
  .slider-form-header {
    background-color:#8231D3;
    color: white;
    /* padding: 5px; */
    text-align: center;
    border-radius: 8px 8px 0 0;
  }
  
  .slider-form {
    padding: 20px;
   
  }
  
  .form-group {
    margin-bottom: 15px;
    height: 100px;
    width: 30%;
    color: black;
    border-radius: 1px solid black;
    display: flex;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  
  .form-group input[type="text"],
  .form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* background-color: yellow; */
  }
  
  .submit-button01 {
    display: block;
    /* margin-top: 100px; */
    width: 100%;
    padding: 10px;
    background-color: #8231D3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16p
  }
  
  .submit-button01:hover {
    background-color: #5a2ea6;
  }
  