.form-container5 {
  width: 192%; 
  height: 100vh;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  margin-top: 40px;
}

h2 {
  text-align: start;
  margin-bottom: 20px;
  background-color: rgb(173, 205, 233);
  border-radius: 5px;
  padding-left: 10px;
  color: black;
}

h2:hover {
  background-color: rgb(147, 187, 223);
}

.form-group5 {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.form-group5 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group5 input,
.form-group5 textarea {
  width: 100%; 
  max-width: 100%; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
}

.form-group5 textarea {
  resize: vertical;
  height: 100px;
}

.save-button5 {
  display: block;
  margin-top: 20px; 
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} 

.save-button5:hover {
  background-color: #5a52e5;
}

.upload-images5 {
  margin-bottom: 20px;
}

.upload-boxes5 {
  display: flex;
  gap: 10px;
}

.upload-box5 {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-preview5 {
  max-width: 100%;
  max-height: 100%;
}
