.product-form1 {
  width: 111%;
  height: 100vh; 
  /* margin: ;
  /* min-width: 100%; */
  /* max-height: 100vh; */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  /* margin: 10px 255px 0px 10px; */
  margin-top: 50px;
  margin-left: 5px;
}

.product-form h2 {
  text-align: start;
  margin-bottom: 20px;
}

.form-sections {
  display: flex;
  gap: 20px;
}

.form-left, .form-right {
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-control {
  flex: 1;
}

.upload-images {
  margin-bottom: 20px;
}

.upload-images h4 {
  margin-bottom: 10px;
}

.upload-boxes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.upload-box {
  flex: 1;
  height: 100px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  font-size: 14px;
  position: relative;
}

.upload-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.save-button {
  display: block;
  margin: 0 auto;
}

small {
  display: block;
  margin-top: 5px;
  color: #999;
}

input[type="file"] {
  display: none;
}

.upload-box label {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
